# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# IDEs
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# Sistema
.DS_Store
Thumbs.db

# Git LFS (para arquivos grandes)
*.psd
*.fbx
*.png
*.jpg
*.wav
*.mp4
